.cart{
    display: inline-flex;
    border-radius: 300px;
    transition: all 150ms ease-in-out 0s;
    cursor: pointer;
    box-shadow: unset;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0.5rem 1.5rem;
    color: white;
    background-color: rgb(233, 69, 96);
    font-size: 14px;
    font-weight: 600;
}
.basketTable {
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 26px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1.5rem;
}
.boundary{
    cursor: unset;
    box-shadow: none;
    width: 50px;
    height: 4px;
    background-color: rgb(255, 225, 230);
}
.svgValue{
    border: 1px solid rgb(233, 69, 96);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    ;
    padding: 6px;
}
.svgValue:hover{
    background-color:rgb(233, 69, 96);
    color: white;
}
.buttons{
    margin-left: 450px;
}
.resultBarBasket{
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem 1.75rem;
}
.border{
    height: 1px;
    background-color: rgb(243, 245, 249);
    margin-bottom: 1rem
}
.Note{
    color: rgb(233, 69, 96);
    font-size: 12px;
    cursor: unset;
    box-shadow: none;
    padding: 3px 10px;
    background-color: rgb(255, 225, 230);
    border-radius: 3px;
}
.theArea{
    display: block;
    padding: 54px 12px;
    min-height: 40px;
    font-size: inherit;
    color: rgb(43, 52, 69);
    border-radius: 5px;
    border: 1px solid rgb(218, 225, 231);
    width: 100%;
    outline: none;
    overflow: auto;
    font-family: inherit;
}
.Voucher{
    padding: 8px 12px;
    height: 40px;
    font-size: inherit;
    color: rgb(43, 52, 69);
    border-radius: 5px;
    border: 1px solid rgb(218, 225, 231);
    width: 100%;
    outline: none;
}
.Apply{
    background-color: rgb(233, 69, 96);
    border-color: rgb(233, 69, 96);
    color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-family: inherit;
    background: transparent;
    transition: all 150ms ease-in-out 0s;
    line-height: 1;
    padding: 10px 16px;
    color: rgb(233, 69, 96);
    border: 1px solid rgb(233, 69, 96);
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 30px;
}
.Apply:hover{
background-color: rgb(233, 69, 96);
color: #fff;
}
.content4Extra{
    bottom:calc(100% - 815px) !important;
    display: none;
}
.dropdown-menu.border-1 {
    border: 1px solid #000 !important; /* Adjust color and size as needed */
  }
  
  .Zip{
    padding: 8px 12px;
    height: 40px;
    font-size: inherit;
    color: rgb(43, 52, 69);
    border-radius: 5px;
    border: 1px solid rgb(218, 225, 231);
    width: 100%;
    outline: none;
    margin-top: 12px;
    font-family: inherit;
  }
  .ZipFor{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-family: inherit;
    background: transparent;
    transition: all 150ms ease-in-out 0s;
    line-height: 1;
    padding: 10px 16px;
    color: rgb(233, 69, 96);
    border: 1px solid rgb(233, 69, 96);
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .ZipFor:hover{
    background:rgb(233, 69, 96) ;
    color: #fff;
  }
  .ZipFor2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-family: inherit;
    background: transparent;
    transition: all 150ms ease-in-out 0s;
    line-height: 1;
    padding: 10px 16px;
    color: white;
    background-color:rgb(233, 69, 96) ;
    border: 1px solid rgb(233, 69, 96);
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .allFormDiv{
    padding: 1.5rem 1.75rem;   
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    width: 792px;
  }
  .specialOne{
    padding: 8px 12px;
    height: 40px;
    font-size: inherit;
    color: rgb(43, 52, 69);
    border-radius: 5px;
    border: 1px solid rgb(218, 225, 231);
    width: 75%;
    outline: none;
    font-family: inherit;
  }
  .WholeSideBarHere{
    padding: 1.5rem 1.75rem;   
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    width: 384px;
  }
  .inputVoucher{
    padding: 8px 12px;
    height: 40px;
    font-size: inherit;
    color: rgb(43, 52, 69);
    border-radius: 5px;
    border: 1px solid rgb(218, 225, 231);
    width: 100%;
    outline: none;
    font-family: inherit;
  }