* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.TheFirstNavbar {
  background-color: rgb(15, 52, 96);
  color: #fff;
  height: 40px;
  font-size: 12px;
}
.TheFirstNavbar .EmailIcon {
  margin-left: 10px;
  margin-right: 10px;
}
.TheFirstNavbar .Extra {
  margin-left: 20px;
  margin-right: 20px;
}
.TheFirstNavbar .Extra:hover {
  color: rgb(233, 69, 96);
}
.TheFirstNavbar .compenents2 img {
  height: 14px;
  border-radius: 4px;
}
.TheFirstNavbar .compenents2 .En {
  font-weight: 600;
  margin-left: 3px;
  margin-right: 3px;
}

.content, .contentUsd {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;
  top: calc(100% + 10px);
  right: 92px;
}

.content, .contentUsd {
  padding: 10px;
  text-decoration: none;
  color: #333;
  max-width: 100%;
}
.content .contentItems, .contentUsd .contentItems {
  display: flex;
  padding: 6px;
}
.content .contentItems .DropDownImage, .contentUsd .contentItems .DropDownImage {
  height: 18px;
  border-radius: 0;
}
.content .contentItems img, .contentUsd .contentItems img {
  margin-right: 0.5rem;
}
.content .contentItems:hover, .contentUsd .contentItems:hover {
  color: rgb(233, 69, 96);
  background-color: rgb(246, 249, 252);
}

.all {
  display: none;
}

.navbarCom {
  display: none;
}

.nav-link {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .all {
    display: block;
    margin-top: -14px;
  }
  .navbarCom {
    display: flex;
    align-items: center;
  }
  .compenents2 {
    margin-top: -14px;
  }
}
nav {
  margin-bottom: 20px;
}

.theMinInput {
  position: relative;
}

.searchInput:focus {
  outline-color: rgb(233, 69, 96);
  border-color: rgb(233, 69, 96);
  box-shadow: rgba(255, 225, 230, 0.1) 1px 1px 8px 4px;
}

.nav-link:hover {
  color: rgb(233, 69, 96);
}

.searchInput {
  padding-left: 3rem;
  padding-right: 11.5rem; /* Adjust this value as needed */
  height: 44px;
  border-radius: 300px;
  border: 1px solid rgb(218, 225, 231);
  width: 90%;
  outline: none;
}

.searchInput:hover {
  border-color: rgb(174, 180, 190);
}

.categories {
  position: absolute;
  right: 76px;
  top: 54%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #7D879C;
  border-left: 1px solid rgb(218, 225, 231);
  height: 29px;
  cursor: pointer;
  min-width: 90px;
  padding-left: 1.25rem;
  padding-right: 1rem;
}

.categories span {
  margin-right: 0.55rem;
}

.searchIcon {
  position: absolute;
  left: 10px; /* Adjust this value as needed */
  top: 50%;
  transform: translateY(-50%);
  fill: #7D879C;
}

.content1 {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 204px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;
  top: calc(100% + 10px);
  right: -4px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  max-width: 100%;
}
.content1 .contentItems:hover {
  color: rgb(233, 69, 96);
  background-color: #f9f9f9;
}
.content1 .contentItems {
  padding: 9px;
}
.content1 .contentItems span {
  font-size: 16px;
}

.fa-user {
  background-color: rgb(243, 245, 249);
  padding: 15px;
  border-radius: 50%;
}

.fa-bag-shopping {
  background-color: rgb(243, 245, 249);
  padding: 15px;
  border-radius: 50%;
}

.icons {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .TheMainLogo {
    display: none;
  }
  .icons {
    display: none;
  }
  #lastNav {
    display: none;
  }
  .content2 {
    display: none;
  }
  .searchInput {
    width: 100%;
  }
  .categories {
    display: none;
  }
  .content2 {
    display: none;
  }
}
.CategoriesPart button {
  color: rgb(125, 135, 156);
  width: 265px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  border-radius: 14px;
  background-color: rgb(246, 249, 252);
  border: 1px solid white;
}

.UpDown {
  margin-left: 95px;
  font-size: 13px;
}

.alltitles {
  font-size: 14px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.content2 {
  display: block;
  background-color: #fff;
  min-width: 167px;
  width: 62%;
  box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;
  top: calc(100% - 562px);
  /* right: 35px; */
  left: 118px;
  padding: 14px;
  text-decoration: none;
}
.content2 .contentItems {
  margin-bottom: 12px;
}
.content2 .En {
  padding-left: 0.75rem;
}

#mainPage {
  background-color: rgb(255, 255, 255);
}

.fa-chevron-right {
  float: right;
  font-size: 11px;
}

.category-details {
  display: none;
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 650px;
  z-index: 999;
}

.category-details p {
  font-size: 13.5px;
}

.contentItems:hover .category-details {
  display: block;
}

.contentItems:hover .category-detailsSecond {
  display: block;
}

h6 {
  font-size: 14px;
  font-weight: 700;
}

.category-detailsSecond {
  display: none;
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 999999;
}

.content3 {
  display: none;
  background-color: #fff;
  min-width: 167px;
  width: 23%;
  box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;
  position: absolute;
  top: 46%;
  left: 37%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contentItems:hover .content3 {
  display: block;
}

.title {
  font-size: 50px;
  margin-top: 0px;
  line-height: 1.2;
  margin-bottom: 1.35rem;
  font-weight: bold;
}

.informarion button {
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  background-color: rgb(233, 69, 96);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Style your carousel here */
.carousel {
  overflow: hidden;
}

.item {
  display: none;
}

.item.active {
  display: block;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
}

.active {
  display: none;
}/*# sourceMappingURL=style.css.map */